<!DOCTYPE html>
<html>
  <head>
    <title>Extra</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="">
        <ul class="">
          <li class="">
            <h4>Imagen</h4>
          </li>
          <li class="">
            <%= link_to "Inicio", root_path %>
          </li>
          <li class="">
            <%= link_to "Plan de estudios", root_path%>
          </li>
          <li class="">
            <%=link_to "Guias", root_path%>
          </li>
          <li class="">
            <%=link_to"Nuevo Usuario", new_user_path%>
          </li>
           <li class="">  
              <%=link_to "Examens Prueba",root_path%>
          </li>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
